// Colors
$header-color: #2ab54a;
$article-color: #f1f1f1;
$nav-color: darkgray;
$aside-color: #dce695;

$button-flex-background-color: darkcyan;
$button-reset-background-color: indianred;
$button-shadow-color: black;
$button-flex-text-color: ghostwhite;
$button-reset-text-color: ghostwhite;