.start-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .footer {
        flex: 1;
    }
}

.flex-layouts {
    margin: 4rem 10rem;
}

.flexbox-buttons {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.grid-layouts {
    min-height: 60vh;
    margin: 4rem 10rem;
}

.grid-buttons {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;

    .btn {
        height: 4rem;
    }
}